@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-850: #1f2937;
}

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-200;
  }

  :root.dark body {
    @apply bg-gray-900 text-gray-100;
  }
}